<section class="hero" layout="column" layout-align="center center" ng-controller="HomeCtrl as HomeCtrl" ng-init="HomeCtrl.initialize()">

    <div class="hero-logo">
        <h1 class="md-headline">Pastoralist</h1>
        <div class="md-title">
            A simple application
        </div>
    </div>

  <div class="hero-buttons">
    <md-button class="md-raised md-primary" ng-href="https://github.com/dotch/angular-express-starter">
      <md-icon>code</md-icon>
      Github project
    </md-button>
    <md-button class="md-raised md-primary" ng-href="https://github.com/dotch/angular-express-starter/issues">
      <md-icon>bug_report</md-icon>
      Report an issue
    </md-button>
    <div>
        <button ng-click="HomeCtrl.showEntry()">Show entry</button>
        <textarea ng-model="HomeCtrl.entry" name="home_entry"></textarea>
    </div>
  </div>

</section>


